@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-black text-white overflow-x-hidden;
  font-family: "Montserrat", sans-serif;
}

nav {
  @apply flex items-center justify-center py-4 fixed w-screen bg-black z-10;
}
nav div {
  @apply flex flex-row text-sm uppercase font-bold mx-6;
}
nav div img {
  @apply flex mr-4 w-8 h-auto object-contain;
}
nav div span {
  @apply block text-xs font-light m-0;
}

header {
  @apply w-screen h-screen overflow-x-hidden relative;
}
header .container {
  @apply z-[1] w-full h-full relative mx-auto flex items-center justify-center flex-col;
}
header .container h1 {
  @apply text-8xl text-center uppercase font-bold text-[#fefe00] m-6;
}
header .container .to {
  @apply flex flex-row items-center mb-4;
}
header .container .to .arrow-box {
  @apply bg-[#fefe00] text-black py-1 pl-5 pr-[2rem] font-bold text-2xl;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
          clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}
header .container .to span {
  @apply mx-4 text-2xl font-bold text-[#fefe00];
}
header .scroll-down {
  @apply absolute bottom-0 left-0 z-[2] w-full flex items-center border-b-8 border-[#fefe00];
}
header .scroll-down div {
  @apply bg-[#fefe00] text-black mx-auto relative flex flex-row px-20 py-2 text-lg font-bold cursor-pointer;
  -webkit-clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
          clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
}
header .bg {
  @apply w-full h-full absolute top-0 left-0 z-0;
}
header .bg img {
  @apply w-full h-full object-cover;
}

.rule {
  @apply bg-[url("../img/rule-bg.png")] bg-cover bg-left-bottom py-20 relative flex items-center overflow-hidden;
}
.rule .container {
  @apply text-black mx-auto min-h-[350px] flex flex-col justify-center z-[1];
}
.rule .container h1 {
  @apply text-5xl font-bold flex flex-row items-center;
}
.rule .container h1 .arrow {
  @apply w-4 h-10 bg-black relative transform -skew-x-[25deg];
  content: "";
}
.rule .container ul {
  /* list-style-type: "+"; */
  @apply list-["+"] p-4 mb-20;
}
.rule .container ul li {
  @apply font-medium text-xl px-2;
}
.rule .container tr {
  @apply border border-black;
}
.rule .container tr td {
  @apply px-4;
}
.rule .container .separator {
  @apply w-full h-1 bg-black relative;
}
.rule .container .separator::before {
  @apply w-40 h-4 bg-black absolute bottom-0 left-0;
  content: "";
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}
.rule .mascot {
  @apply absolute h-[640px] right-0 bottom-0 z-[1];
}
.rule .mascot img {
  @apply w-full h-full object-contain;
}

.feature .container {
  @apply grid grid-cols-[1fr,2fr] gap-x-[4rem] py-40 mx-auto;
}
.feature .container .frame {
  @apply aspect-square overflow-hidden bg-slate-600 p-[1px] grayscale brightness-50 cursor-pointer;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%, 0 85%);
  transition: ease 0.4s;
}
.feature .container .frame img {
  @apply flex w-full h-full object-cover -z-[1];
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%, 0 85%);
}
.feature .container .frame.active, .feature .container .frame:hover {
  @apply bg-[#fefe00] filter-none;
}
.feature .container .content h2 {
  @apply text-3xl font-bold flex flex-row items-center text-[#fefe00];
}
.feature .container .content h2 .arrow {
  @apply w-4 h-10 bg-[#fefe00] relative transform -skew-x-[25deg];
  content: "";
}
.feature .container .content table, .feature .container .content th, .feature .container .content td {
  @apply border border-slate-500 border-collapse;
}
.feature .container .content thead {
  @apply font-bold;
}
.feature .container .content tr td:not(:first-child) {
  @apply text-center;
}
.feature .container .content td {
  @apply px-8 py-2;
}

.reward {
  @apply bg-[#fefe00] text-black p-20 relative;
}
.reward .container {
  @apply mx-auto min-h-[640px] flex flex-col items-center justify-center;
}
.reward .mask {
  @apply absolute left-0 w-full;
}
.reward .blackbar {
  @apply bg-black -z-10 w-full h-[200px];
  content: "";
}
.reward .separator {
  @apply bg-[url("../img/separator.png")] w-full h-14 bg-contain left-0 flex items-center justify-center z-10;
  content: "";
  -webkit-animation: cross linear 0.4s infinite;
          animation: cross linear 0.4s infinite;
}
@-webkit-keyframes cross {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 61px 0;
  }
}
@keyframes cross {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 61px 0;
  }
}