@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-to {
   clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}

.clip-scroll {
   clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
}

.clip-separate {
   clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.clip-frame {
   clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%, 0 85%);
}

.clip-reward {
   clip-path: polygon(100% 0, 100% 100%, 5% 100%, 0 85%, 0 0);
}
